# Unused event images
img/women_in_cinema/1.png
img/women_in_cinema/2.png
img/women_in_cinema/3.png
img/women_in_cinema/4.png
img/women_in_cinema/5.png
img/women_in_cinema/6.png

# Previous event assets
img/third_cinema/
